<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Traiter</title>
    <style>
{% include 'html_writer.css' -%}
    </style>
</head>
<body>
<h1>{{ file_name }}: {{ now }}</h1>

<header>
    {% for label, value in summary.items() %}
    <div><label>{{ label }}</label><span>{{ value }}</span></div>
    {% endfor %}
</header>

<table>
    <thead>
    <tr>
        <th>
            <button class="toggle closed" title="Show or hide all extractions">
            </button>
        </th>
        <th>Occurrence ID</th>
        <th>Field</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr class="first">
        <td>
            <button class="toggle closed" title="Show or hide the extractions"
                    data-text-id="{{ row.occurrence_id }}">
            </button>
        </td>
        <td><span class="small">{{ row.occurrence_id | safe }}</span></td>
        <td></td>
        <td></td>
    </tr>
    {% for field, value in row.info_fields.items() %}
    <tr class="term closed" data-text-id="{{ row.occurrence_id }}">
        <td></td>
        <td></td>
        <td class="text">{{ field | safe }}</td>
        <td class="text">{{ value | safe }}</td>
    </tr>
    {% endfor %}
    {% for field, value in row.formatted_text.items() %}
    <tr class="term closed" data-text-id="{{ row.occurrence_id }}">
        <td></td>
        <td></td>
        <td class="text">{{ field | safe }}</td>
        <td class="text">{{ value | safe }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>

<script>
{% include 'html_writer.js' -%}


</script>

</body>
</html>
