<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Traiter</title>
    <style>
{% include 'html_writer.css' -%}
    </style>
</head>
<body>
<h1>{{ file_name }}: {{ now }}</h1>

<table class="species">
    <thead>
    <tr>
        <th>
            <button class="toggle closedqq summary" title="Show or hide summary">
            </button>
        </th>
        <th>{{ summary_field | safe }}</th>
        <th>Total count</th>
        <th>With traits</th>
      </tr>
    </thead>
    <tbody>
    {% for label, value in species_count.items() %}
    <tr class="term closedqq species">
        <td></td>
        <td>{{ label | safe }}</td>
        <td class="r">{{ value.total | safe }}</td>
        <td class="r">{{ value.with_traits | safe }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<table class="traits">
    <thead>
    <tr>
        <th>
            <button class="toggle closedqq summary" title="Show or hide summary">
            </button>
        </th>
        <th>Trait</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
    {% for trait, count in trait_count.items() %}
    <tr class="term closedqq trait">
        <td></td>
        <td>{{ trait | safe }}</td>
        <td class="r">{{ count | safe }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<table class="text">
    <thead>
    <tr>
        <th>
            <button class="toggle closedqq" title="Show or hide all extractions">
            </button>
        </th>
        <th>Occurrence ID</th>
        <th>Field</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr class="first">
        <td>
            <button class="toggle closedqq" title="Show or hide the extractions"
                    data-text-id="{{ row.occurrence_id }}">
            </button>
        </td>
        <td><span class="small">{{ row.occurrence_id | safe }}</span></td>
        <td></td>
        <td></td>
    </tr>
    {% for field, value in row.info_fields.items() %}
    <tr class="term closedqq" data-text-id="{{ row.occurrence_id }}">
        <td></td>
        <td></td>
        <td class="text">{{ field | safe }}</td>
        <td class="text">{{ value | safe }}</td>
    </tr>
    {% endfor %}
    {% for field, value in row.formatted_text.items() %}
    <tr class="term closedqq" data-text-id="{{ row.occurrence_id }}">
        <td></td>
        <td></td>
        <td class="text">{{ field | safe }}</td>
        <td class="text">{{ value | safe }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>

<script>
{% include 'html_writer.js' -%}


</script>

</body>
</html>
